.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60pz 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px
}
.header{
grid-area: h;
background-color: rgb(66, 200, 66);
}
.header img{
  width: 120px;
}

.nav{
  grid-area: n;
  background-color: rgb(66, 200, 66);
}

.content{
grid-area: c;
background-color: antiquewhite;
}